<%= comments.count %>件コメント
	<%= paginate @comments %>
	<% comments.each do |comment| %>
		<% unless comment.id.nil? %>
			<div style="padding-top: 5px;">
				<%= link_to "#{comment.user.name}さん", user_path(comment.user.id), style:"font-size: 15px;" %>
				<%= comment.comment_body %>
			<% if comment.user == current_user %>
				<%= link_to 'コメントを削除', tweet_comment_path(@tweet.id, comment.id), method: :delete, class:"glyphicon glyphicon-trash", remote: true %>
			<% end %>
			</div>
		<% end %>
	<% end %>