<div class="container-fluid">
	<div class="row">
		<div class="col-xs-2" style="background-color: #1eb2a6; height: 600px"></div>

		<div class="col-xs-8">
			<%= form_tag(tweets_hashtag_path, method: :get) do %>
				<div style="font-size: 18px; text-align: ceneter; padding-top: 10px; color: #808080;">
						<%= label_tag(:tag_name, "#タグで探す") %>
						<%= text_field_tag(:tag_name) %>
					<div style="text-align: right;">
						<%= submit_tag"Search", class:"btn btn-primary", style:"width: 200px;" %>
					</div>
				</div>
			<% end %>
				<div style="padding-bottom: 10px;">
					<b>タグ一覧</b><br>
						<% @tag_lists. shuffle. first(5). each do |tag| %>
						<%= tag.tag_name %>
						<% end %>
				</div>

			<table>
				<% @tweets.each do |tweet| %>
					<tr>
						<td>
							<%= attachment_image_tag tweet.user, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size:'70x70' %>
						</td>
						<td style="width: 120px;">
							<%= link_to tweet.user.name, user_path(tweet.user) %>
						</td>
						<td style="padding-left: 10px;">
							<%= tweet.body %>
						</td>
					</tr>
				<% end %>
				<%= paginate @tweets %>
			</table>
		</div>

		<div class="col-xs-2" style="background-color: #1eb2a6; height: 600px"></div>
	</div>
</div>