<%= form_tag(tweets_hashtag_path, method: :get) do %>
	<%= label_tag(:tag_name, "#タグで探す") %>
	<%= text_field_tag(:tag_name) %>
	<%= submit_tag("Search") %>
<% end %>

<table class="table">
	<% @tweets.each do |tweet| %>
		<tr>
			<td><%= link_to tweet.user.name, user_path(tweet.user) %></td>
			<td><%= tweet.body %></td>
		</tr>
	<% end %>
</table>