
<table class="table">
	<% @tweets.each do |tweet| %>
		<tr>
			<td><%= link_to tweet.user.name, user_path(tweet.user) %></td>
			<td><%= tweet.body %></td>
			<td>
				<div id="favorites_buttons_<%= tweet.id %>">
					<%= render partial: 'favorites/favorite', locals: { tweet: tweet } %>
				</div>
			</td>
			<td><%= link_to'コメントする', tweet_path(tweet.id) %></td>
		<% if tweet.user == current_user %>
			<td><%= link_to'編集', edit_tweet_path(tweet.id) %></td>
			<td><%= link_to "Destroy", tweet_path(tweet), method: :delete %></td>
		<% end %>
		</tr>
	<% end %>
</table>