<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">

			<table id="tweet">
				<tr id="tweettr">
					<% @tweets.each do |tweet| %>
						<td id="index_tweet_name">
							<%= attachment_image_tag tweet.user, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
							<%= link_to tweet.user.name, user_path(tweet.user) %>
						</td>
						<td id="index_tweet">
							<%= tweet.body %><br>
							<%= tweet.created_at %>
							<div id="favorites_buttons_<%= tweet.id %>">
								<%= render partial: 'favorites/favorite', locals: { tweet: tweet } %>
							</div>
							<%= link_to'コメントする', tweet_path(tweet.id), class:"glyphicon glyphicon-comment" %>
						</td>

					<td>
						<% if tweet.user == current_user %>
							<%= link_to'編集', edit_tweet_path(tweet.id), class:"glyphicon glyphicon-pencil" %>
							<%= link_to "削除する", tweet_path(tweet), method: :delete, class:"glyphicon glyphicon-trash" %>
						<% end %>
					</td>
				</tr>
					<% end %>
			</table>

		</div>
	</div>
</div>