<table class="table">
	<% @tweets.each do |tweet| %>
		<tr>
			<td><%= tweet.user.name %></td>
			<td><%= tweet.body %></td>
			<% if user_signed_in? %>
				<td><% if tweet.favorited_by?(current_user) %>
					<%= link_to "いいねを外す", tweet_favorites_path(tweet.id), method: :delete %>
				<% else %>
					<%= link_to "いいねをする", tweet_favorites_path(tweet.id), method: :post %>
				<% end %></td>
			<% end %>
			<td><%= link_to'編集', edit_tweet_path(tweet.id) %></td>
			<td><%= link_to "Destroy", tweet_path(tweet), method: :delete %></td>
		</tr>
	<% end %>
</table>