<div class="container-fluid">
	<div class="row">
		<div class="col-md-3" style="background-color: #ff9234; height: 600px;"></div>

		<div class="col-md-6" style="padding-top: 100px;">
			<%= form_for(@user) do |f| %>
				<div style="padding-left: 200px;">
					<div>
						<%= f.attachment_field :image %>
					</div>
					<br>
					<div style="font-size: 18px;">
						<%= f.label :名前　　　 %>
					</div>
					<div>
						<%= f.text_field :name, style:"width: 50%; height: 50px;" %>
					</div>
					<br>
					<div style="font-size: 18px;">
						<%= f.label :自己紹介　 %>
					</div>
						<%= f.text_area :introduction, style:"width: 50%; height: 100px;" %>
					<br>
					<div style="font-size: 18px;">
						<%= f.label :禁酒歴　　 %>
					</div>
						<%= f.text_field :history, style:"width: 50%; height: 50px;" %>
					<br>
					<div style="font-size: 18px;">
						<%= f.label :好きなお酒 %>
					</div>
						<%= f.text_area :favorite_alcohol, style:"width: 50%; height: 70px;" %>
					<br>
					<div style="text-align: center;">
						<%= f.submit 'Update', class: "btn btn-primary", style:"width: 200px;" %>
					</div>
				</div>
			<% end %>
		</div>

		<div class="col-md-3" style="background-color: #1eb2a6; height: 600px;"></div>
	</div>
</div>
