<div class="container-fluid">
	<div class="row">
		<div class="col-md-2" style="background-color: #ff9234; height: 600px;"></div>
		<div class="col-md-8">
			<table style="text-align: center;">
				<% @users.each do |user| %>
				<tr>
					<td style="padding-left: 80px;"><%= attachment_image_tag user, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size:'90x90' %></td>
					<td style="padding-left: 10px; width: 200px;"><%= link_to user.name, user_path(user) %></td>
					<td style="width: 200px;"><%= render partial: 'relationships/create' , locals: { user: user } %></td>
					<td style="width: 200px;"><%= link_to'SHOW', user_path(user), class:"glyphicon glyphicon-user" %></td>
				</tr>
				<% end %>
			</table>
			<%= paginate @users %>
		</div>
		<div class="col-md-2" style="background-color: #ff9234; height: 600px;"></div>
	</div>
</div>
