<div class="container-fluid">
	<div class="row">
		<div class="col-xs-2" style="height: 600px; background-color: #EF6C00;"></div>
		<div class="col-xs-4" style="height: 600px; text-align: right;">
			<%= attachment_image_tag @user, :image, :fill, 200, 200, format: 'jpg', fallback: "no_image.jpg", size:'200x200'  %><br>
				<u style="font-size: 18px;">名前</u><br>
					<div style=" padding: 5px;"><%= @user.name %></div>
				<br>
				<u style="font-size: 18px;">自己紹介</u><br>
					<div style=" padding: 5px;"><%= @user.introduction %></div>
				<br>
				<u style="font-size: 18px;">禁酒歴</u><br>
					<div style=" padding: 5px;"><%= @user.history %></div>
				<br>
				<u style="font-size: 18px;">好きなお酒</u><br>
					<div style=" padding: 5px;"><%= @user.favorite_alcohol %></div>
				<br>
				<% if @user == current_user %>
				<div style="text-align: right;">
					<%= link_to'Edit', edit_user_path(@user), class:"btn btn-primary", style:"width: 200px;" %>
				</div>
			<% end %>
		</div>

		<div class="col-xs-4" style="height: 600px;">
			<%= render partial: 'tweets/usertweet' , locals: { tweets: @tweets } %>
		</div>
		<div class="col-xs-2" style="height: 600px; background-color: #EF6C00;"></div>
	</div>
</div>
